<app-header> </app-header>
<div class="container">
  <div class="row">
  <form>
    <div class="form-group">
      <label for ="value"> Enter a string </label>
      <input type="text" class="form-control" id="userText" [(ngModel)]="userText" name="userText">
     </div>

     <button (click)="palindromeCheck()" type="submit" class="btn btn-default"> Submit </button>
  </form>

  <div class="row" *ngIf="palindrome">
    <alert type="success">
      <strong>Palindrome or not?</strong> The string is a palindrome
    </alert>
  </div>
    <div class="row" *ngIf="notpalindrome">
    <alert type="danger">
      <strong>Palindrome or not?</strong> The string is not a palindrome
    </alert>
  </div>

</div>